@page "/"
@using System.Web
@inject NavigationManager NavigationManager
<!-- 100% privacy-first analytics -->
<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript>
    <img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade"/>
</noscript>
<div class="middle">
    <div class="flex flex-col items-center">
        <div class="flex items-end" style="margin-top: 15vh; margin-bottom: 30px">
            <img src="/images/android-chrome-192x192.png" id="Image1" class="h-44" alt="artado search logo"/>
        </div>
        <div id="searchbar" class="searchbar shadow-lg w-[50%] sm:w-[35rem] z-10" style="border-radius: 10px">
            <div class="flex">
                <input @bind="SearchQuery" name="searchinput" type="text" id="searchinput" class="bg-[var(--bg-secondary)] px-4 py-3 rounded-l-lg w-full" autocomplete="off" autofocus="" placeholder="İnterneti keşfet!"/>
                <button @onclick="Search" id="searchbutton" class="bg-[var(--bg-tertiary)] px-5 rounded-r-lg">
                    <i
                        class="bi bi-search">
                    </i>
                </button>
            </div>
        </div>
        <div id="sponsors" class="sponsors">
            <div class="tiles_header">
                <hr/>
                <span id="sponsor">Sponsored</span>
                <hr/>
            </div>
            <div class="tiles">

                <a class="links" href='https://tatil.com' data-url='https://tatrck.com/h/0L030yKP0SKm?url=https%3A%2F%2Ftatil.com&s=0191cd22-5491-7f9c-ba87-3887250154de_155_2'>
                    <img src='https://cdn.tiles.takernd.com/logo/11aae9d529942cac1a81c97cb1ed5a9e4df51419.png'/>
                    <span id="Tiles_title_0">Tatil.com</span>
                </a>

                <a class="links" href='https://mexc.com' data-url='https://tatrck.com/h/0L030yKP0-db?url=https%3A%2F%2Fmexc.com&s=0191cd22-5491-7f9c-ba87-3887250154de_149_2'>
                    <img src='https://cdn.tiles.takernd.com/logo/bd89d4e0dbe63857f1c73188fd6542485e51198e.png'/>
                    <span id="Tiles_title_1">MEXC Global</span>
                </a>

                <a class="links" href='https://vivense.com' data-url='https://tatrck.com/h/0L030yKP0uAD?url=https%3A%2F%2Fvivense.com&s=0191cd22-5491-7f9c-ba87-3887250154de_145_2'>
                    <img src='https://cdn.tiles.takernd.com/logo/2c93cb72a081c99118337f8c5d3d4d6c1f2aeb27.png'/>
                    <span id="Tiles_title_2">Vivense</span>
                </a>

                <a class="links" href='https://trendyol.com' data-url='https://tatrck.com/h/0L030yKP0SCH?url=https%3A%2F%2Ftrendyol.com&s=0191cd22-5491-7f9c-ba87-3887250154de_143_2'>
                    <img src='https://cdn.tiles.takernd.com/logo/cb12a6b29720b48ea82d6ec34ff5def0c1ed4215.png'/>
                    <span id="Tiles_title_3">Trendyol</span>
                </a>

                <a class="links" href='https://booking.com' data-url='https://tatrck.com/h/0L030yKP0V7N?url=https%3A%2F%2Fbooking.com&s=0191cd22-5491-7f9c-ba87-3887250154de_150_2'>
                    <img src='https://cdn.tiles.takernd.com/logo/e3df552b1a36e0343a90c856fe5de6840e54f1b1.png'/>
                    <span id="Tiles_title_4">Booking.com</span>
                </a>

            </div>
        </div>
    </div>


    <a class="absolute bottom-0 text-center pb-5" id="up-down" style="color: var(--text);" href="#features">
        <i class="text-3xl bi bi-chevron-down"></i>
    </a>
</div>
<div class="top">
    <button class="btn btn-success menu" style="margin-top: 10px; height: 35px; background: #5F5F87" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" data-ripple-color="dark" aria-controls="offcanvasRight">
        <i class="bi-list"></i>
    </button>
    <div class="offcanvas offcanvas-end" style="max-width: 300px; border-top-left-radius: 10px; border-bottom-left-radius: 10px;" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <style>
                    ::-webkit-scrollbar {
                        width: 4px;
                        color: #3c3c3c;
                    }
                </style>
        <div class="offcanvas-header">
            <span id="offcanvasRightLabel" style="font-size:X-Large;">Menu</span>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <select name="Themes" onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;Themes\&#39;,\&#39;\&#39;)&#39;, 0)" id="Themes" class="form-select mb-3">
                <option value="Temalar" disabled="">Temalar</option>
                <option value="Default">Klasik</option>
                <option selected="selected" value="Night">Gece</option>

            </select>
            <select name="Languages" onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;Languages\&#39;,\&#39;\&#39;)&#39;, 0)" id="Languages" class="form-select mb-3">
                <option value="Diller" disabled="">Diller</option>
                <option value="en">İngilizce</option>
                <option selected="selected" value="tr">T&#252;rk&#231;e</option>
                <option value="fr">Fransızca</option>
                <option value="de">Almanca</option>
                <option value="it">İtalyanca</option>
                <option value="ru">Rus&#231;a</option>
                <option value="zh">&#199;ince</option>
                <option value="es">İspanyolca</option>
                <option value="pt">Portekizce</option>
                <option value="ko">Korece</option>
                <option value="ja">Japonca</option>
                <option value="hu">Macarca</option>
                <option value="bg">Bulgarca</option>
                <option value="bs">Boşnak&#231;a</option>
                <option value="sr">Sırp&#231;a</option>
                <option value="mk">Makedonyaca</option>
                <option value="el">Greek</option>
                <option value="uk">Ukraynaca</option>
                <option value="az">Azerbaycan Dili</option>
                <option value="tk">T&#252;rkmence</option>
                <option value="kk">Kazak&#231;a</option>
                <option value="ky">Kırgızca</option>
                <option value="uz">&#214;zbek&#231;e</option>

            </select>
            <select name="Results" onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;Results\&#39;,\&#39;\&#39;)&#39;, 0)" id="Results" class="form-select mb-3">
                <option value="Sonuçlar" disabled="">Sonu&#231;lar</option>
                <option value="Google">Google</option>
                <option selected="selected" value="Artado">Artado</option>
                <option value="Bing">Bing</option>
                <option value="Yahoo">Yahoo!</option>
                <option value="Youtube">Youtube</option>
                <option value="Izlesene">Izlesene</option>
                <option value="Google Scholar">Scholar</option>
                <option value="News">Bing News</option>

            </select>
            <hr class="ince"/>
            <br/>
            <a href="/Settings">
                <span id="Label7">Ayarlar</span><br/>
            </a>
            <br/>
            <a href="/workshop">
                <span id="txtxt">Workshop</span>
            </a><br/><br/>
            <a href="https://forum.artado.xyz/">
                <span id="Label9">Forum</span>
            </a><br><br/>
            <a href="/Manifest">
                <span id="Label8">Manifesto</span>
            </a><br><br/>
            <a href="/privacy">
                <span id="Label0">Gizlilik</span>
            </a><br><br/>
            <a href="https://devs.artado.xyz/">
                <span id="Label13">Developers</span>
            </a><br><br/>
            <a href="https://github.com/Artado-Project/artadosearch">
                <span id="Label12">Github</span>
            </a><br><br/>
            <a href="https://discord.gg/WXCsr8zTN6">
                <span id="Label11">Discord</span>
            </a><br><br/>
        </div>
    </div>
</div>

<div id="features" class="flex flex-col justify-between">
    <div class="py-20 px-40 max-sm:px-10">
        <div class="grid grid-cols-2 max-md:grid-cols-1 gap-x-10 gap-y-20">
            <div>
                <div class="text-4xl font-black mb-5">
                    <span id="txt">Son derece özelleştirilebilir arama motorunuz 🔎</span>
                </div>
                <div>
                    <span id="Label1">Artado Search, kullanıcılara arama deneyimlerini kendi benzersiz ihtiyaçlarına göre uyarlama olanağı sağlamak üzere tasarlanmış, çok yönlü ve son derece özelleştirilebilir bir arama motorudur. Bu proje ASP.NET Framework'ü temel alır ve AGPL v3 lisansı altında gururla açık kaynaktır. Yalnızca kendi arama sonuçlarını sunmakla kalmaz, aynı zamanda diğer arama motorlarından gelen sonuçları da entegre ederek kapsamlı bir arama çözümü sunar.</span>
                </div>
            </div>
            <div>
                <div class="text-4xl font-black mb-5">
                    <span id="Label2">Birden fazla kaynak🔥</span>
                </div>
                <div>
                    <span id="Label3">Artado Search, diğerlerinden farklı olarak yalnızca kendi arama algoritmalarına dayanmıyor. Bunun yerine, diğer arama motorlarından elde edilen sonuçları birleştirerek kullanıcılara kapsamlı bir bakış açısı sunar. Bu benzersiz yaklaşım, kullanıcıların daha geniş bir bilgi yelpazesine erişmesini sağlayarak, onu çeşitli arama sonuçları arayanlar için değerli bir araç haline getirir.</span>
                </div>
            </div>
            <div>
                <div class="text-4xl font-black mb-5">
                    <span id="Label4">İstediğin gibi özelleştir 🎨</span>
                </div>
                <p>
                    <span id="Label5">Artado, kapsamlı özelleştirme seçenekleri sunarak geleneksel arama motorlarının ötesine geçiyor. Kullanıcı arayüzünü ve işlevselliğini geliştirmek için kişiselleştirilmiş temalar ve uzantılar oluşturabilirsiniz. Mağazada yeni temalar, uygulamalar ve oyunlar bulabilirsiniz.</span>
                </p>
            </div>
            <div>
                <div class="text-4xl font-black mb-5">
                    <span id="Label6">Verilerinizi kendinize saklayın 🔒</span>
                </div>
                <div>
                    <span id="Label10">Artado hiçbir kişisel verinizi toplamaz. Artado gizliliğinizi mümkün olduğu kadar korur.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap items-center text-sm gap-10 pb-10 px-40 max-sm:px-10">
        <a href="/" class="flex items-center gap-2">
            <img class="h-7" src="/images/android-chrome-192x192.png" alt="artado search logo">
            Artado Search
        </a>
        <a href="https://artado.xyz" target="_blank">Other Projects</a>
        <a href="https://myacc.artado.xyz/privacy" target="_blank">Privacy</a>
        <a href="https://www.artadosearch.com/Manifest" target="_blank">Manifesto</a>
        <a href="https://forum.artado.xyz/" target="_blank">Forum</a>
        <a href="https://discord.gg/WXCsr8zTN6" target="_blank">Discord</a>
        <a href="https://github.com/Artado-Project/artadosearch" target="_blank">Source Code</a>
        <a href="https://devs.artado.xyz/" target="_blank">Developers</a>
        <a href="https://www.artadosearch.com/workshop" target="_blank">Workshop</a>
    </div>
</div>
<script src="/js/autocomplete.js"></script>
<script type="text/javascript">
        const links = document.querySelectorAll('.links');
        links.forEach(link => {
            const realUrl = link.getAttribute('data-url');

            link.addEventListener('click', event => {
                event.preventDefault();
                window.location.href = realUrl;
            });
        });
    </script>

@functions
{
    public void Search()
    {
        NavigationManager.NavigateTo($"/search?query={HttpUtility.UrlEncode(SearchQuery)}");
    }
}

@code
{
    private string SearchQuery { get; set; } = string.Empty;
}